@charset "ISO-8859-1";

.logo-responsive {
	/*width: 96%;*/
	/*max-width: 580px;*/
	/*height: auto;*/
}

.field-label {
	align-items: center;
	display: flex;
	font-weight: 500;
	color: #585858;
}

.ui-outputlabel .ui-outputlabel-rfi {
	margin-left: 0.2em !important;
	color: #e91e34;
}

@media(max-width: 2000px){
    .logo {
        width: 437px !important;
    }
}
@media(max-width: 1000px){
    .logo {
        width: 437px !important;
    }
}
@media(max-width: 800px){
    .logo {
        width: 400px !important;
    }
}
@media(max-width: 700px){
    .logo {
        width: 300px !important;
    }
}
@media(max-width: 500px){
    .logo {
        width: 200px !important;
    }
}



/*@media(max-width: 1500px){
    .logo {
        width: 300px !important;
    }
}

@media(max-width: 1250px){
    .logo {
        width: 100% !important;
    }
}

@media(max-width: 1000px){
    .logo {
        width: 100% !important;
    }
}*/

/*@media(max-width: 494px){
    .logo {
        width: 280px !important;
    }
}

@media(max-width: 494px){
    .participantes {
        width: 230px !important;
    }
}*/
